<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.trac.title}">NCL Sindhu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.trac.greeting}">
    Dear
</p>
<p th:text="#{email.trac.text1(${trac.subject})}">
    Subject
</p>
<p th:text="#{email.trac.text3(${trac.description})}">
    Description
</p>
<p>
    <span th:text="#{email.trac.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.trac.signature}">JHipster.</em>
</p>
</body>
</html>
