<div>
    <h2 data-translate="sindhu2App.flat.home.title">Flats</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="flat.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="sindhu2App.flat.home.createLabel">
                        Create new Flat
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flatid"><span data-translate="sindhu2App.flat.flatid">Flatid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flatdesc"><span data-translate="sindhu2App.flat.flatdesc">Flatdesc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="blockflat_id.blockid"><span data-translate="sindhu2App.flat.blockflat_id">Blockflat Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="flat in vm.flats track by flat.id">
                    <td><a ui-sref="flat-detail({id:flat.id})">{{flat.id}}</a></td>
                    <td>{{flat.flatid}}</td>
                    <td>{{flat.flatdesc}}</td>
                    <td>
                        <a ui-sref="block-detail({id:flat.blockflat_id.id})">{{flat.blockflat_id.blockid}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="flat-detail({id:flat.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="flat.edit({id:flat.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="flat.delete({id:flat.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
